/* div {
  border: solid black 1px;

} */
#donate-buttons li {

  color: #f1f1f1;
  display: inline-block;
}

.month, .amount{
border: 10px solid;
border-width: 1px;
border-color:  #15c9f7;
margin-top: 10px;
background-color: white;
padding: 8px;
}

/* .btn{
background-color:red;
} */

body {
font-family: "Open Sans", sans-serif;
color: #444444;
}
.otherAmount{
  margin-top: 15px;
}
.sumary{
  margin-top: 10px;
  margin-bottom: 20px;
}
a:hover {
color: #34e5a6;
text-decoration: none;
}

#donation .tabs .nav-tabs {
  border: none;
}

#donation .tabs .nav-link {
  border: 2px solid  #15c9f7;
  padding: 15px;
  border-radius: 20px 20px 20px 20px;
  transition: 0.3s;
  color: #111111;
  background-color: rgb(255, 255, 255);
 
  display: flex;
  align-items: center;
  justify-content: center;
}
.click-chose{
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  transition: 0.3s;
  color: #111111;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#donation .tabs .nav-link i {
  padding-right: 15px;
  font-size: 48px;
  color:rgb(255, 166, 0);
}

#donation .tabs .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

#donation .tabs .nav-link:hover {
  color: #15c9f7;

}

#donation .tabs .nav-link.active {
  background: #15c9f7;
  color: #fff;
  border-color: #15c9f7;
}

@media (max-width: 768px) {
  #donation .click-chose .tabs .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
  
}
@media (max-width: 575px) {
  #donation .click-chose .tabs .nav-link {
    padding: 15px;
  }
  #donation .click-chose .tabs .nav-link i {
    font-size: 24px;
  }

}

#donation .tabs .tab-content {
  margin-top: 30px;
}

#donation .tabs .tab-pane h3 {
  font-weight: 600;
  font-size: 26px;
}

#donation .tabs .tab-pane ul {
  list-style: none;
  padding: 0;
}

#donation .tabs .tab-pane ul li {
  padding-bottom: 10px;
}

#donation .tabs .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #15c9f7;
}

#donation .tabs .tab-pane p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------